<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <!--link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='adapted-styles.css') }}"/-->
    <!--script type="text/javascript" src="{{ url_for('static', filename='roomdraw-config.js') }}"></script-->
    <link rel="shortcut icon" scr="{{ url_for('static', filename='jordanico.ico') }}" />
    <title>Jordan & Keaton</title>
</head>

 <body>
  <p>Jordan is just such a cutie!:)</p>
  <img scr="./static/jordanico.jpg">
 </body>
</html>
